<% title "Faselty" %>
<% if user_signed_in? %>

<div class="row home">

      <!-- Fasety's Introduction Article -->
      <div class="row about-content">
        <div class="row">
          <div class="column medium-6 intro">
            <h1>ما هي فصيلتي؟</h1>
            <p>
              هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.
            </p>
          </div>
          <div class="column medium-6">
            <div class="flex-video">
              <iframe width="420" height="315" src="//www.youtube.com/embed/_lST9cm5jts" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column large-3 medium-6 panel" data-equalizer-watch>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="column large-3 medium-6 panel" data-equalizer-watch>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="column large-3 medium-6 panel" data-equalizer-watch>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
          <div class="column large-3 medium-6 panel" data-equalizer-watch>
            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق، إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع، ومن هنا وجب على المصمم أن يضع نصوصا مؤقتة على التصميم ليظهر للعميل الشكل كاملاً،دور مولد النص العربى أن يوفر على المصمم عناء البحث عن نص بديل لا علاقة له بالموضوع الذى يتحدث عنه التصميم فيظهر بشكل لا يليق، هذا النص يمكن أن يتم تركيبه على أي تصميم دون مشكلة فلن يبدو وكأنه نص منسوخ، غير منظم، غير منسق، أو حتى غير مفهوم. لأنه مازال نصاً بديلاً ومؤقتاً.</p>
          </div>
        </div>
      </div>
      <!-- End of Faselty's Introduction Article -->


<% else %>

   <!-- Entrance Screen -->

    <div class="cover">
      <div class="cover-content row">

        <div class="column large-6 video show-for-large-only">
            <div class="flex-video">
              <iframe src="//www.youtube.com/embed/_lST9cm5jts" width="100%" height="500px" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="column large-6 sign">
          <!-- Faselty's Logo -->
          <img src="<%= image_path('cover-logo.png')%>" alt="Faselty's Logo" class="logo">

          <p class="about">فصيلتي هي شبكة وحل لعملية التبرع بالدم. تقدم فصيلتي خدماتها للمتبرعين بالدم ولطالبي الدم كما تتعاون مع
            مراكز الدم والمستشفيات لتطوير وتحسين عملية التبرع بالدم. تجمع فصيلتي كل المساهمين في عملية التبرع بالدم عن طريق
            موقعها وتطبيقها للهواتف الخلوية ونظام الجرد والمتابعة واستخدام وسائل الاتصالات
            وتكنولوجيا المعلومات المتعددة،
            <%= link_to "إعرف المزيد..", about_contents_path %>
          </p>

          <h2> سجل حساب جديد </h2>
          <%= link_to "متبرع جديد", new_user_registration_path, :class=> "button medium-4 column" %>
          <%= link_to "حالة تبرع جديدة", new_request_path, :class=> "button medium-4 column" %>

          </div>

          <div class="column large-6 sign sign-form">
            <h1>أو</h1>
            <h2> سجل الدخول</h2>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {"data-abide" => ''}) do |f| %>
                <div>

                  <%= f.email_field :email, autofocus: true, :required=>"", :pattern=>"email", :placeholder=>"البريد الإلكتروني" %>

                <small class="error">يرجى كتابة البريد الإلكتروني بشكل صحيح.</small>
              </div>

            <div>

                <%= f.password_field :password, autocomplete: "off", :placeholder=>"كلمة السر" %>

            </div>


                <% if devise_mapping.rememberable? -%>
                <div style="color:#fff; font-size:14px;"><%= f.check_box :remember_me %> <span>تذكرني</span> - <%= link_to "نسيت كلمة السر؟", new_password_path(resource_name) %></div>
              <% end -%>

              <button type="submit" class=" column small-4 small-centered">ادخل</button>
            <% end %>
          </div>

        </div>


      -->
      </div>
    </div>

    <!-- End of Entrance Screen -->

<% end %>
