<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="row register-content">

  <h2>تسجيل متبرع جديد</h2>


  <div class="column large-12 sign-up">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <div data-alert class="alert-box" id="error_explanation" >
        <%= devise_error_messages! %>
        <a href="#" class="close">&times;</a>
      </div>

      <div class="field">
        <label>الاسم <small>*مطلوب</small></label>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <label>البريد الإلكتروني <small>*مطلوبة</small> </label>
        <%= f.email_field :email, autofocus: true %>
      </div>


      <div class="field">
        <label> كلمة السر <small>*مطلوبة</small> </label>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <label> تأكيد كلمة السر <small>*مطلوبة</small></label>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <label>رقم الهاتف المحمول <small>*مطلوب</small></label>
        <%= f.text_field :phone %>
      </div>

      <div class="field">
        <label>السن <small>*مطلوب</small></label>
          <%= f.text_field :age %>
      </div>

      <div class="field">
        <label>الرقم القومي <small>*مطلوب</small></label>
          <%= f.text_field :national_id %>
      </div>

      <div class="field">
        <label>فصيلة الدم <small>*مطلوبة</small></label> 
        <%= select_tag(:blood_type, options_for_select(blood_types)) %>                                   
      </div>

      <div class="field">
        <label>البلد</label>
          <%= text_field_tag :country, nil %>
      </div>

      <div class="field">
        <label>المحافظه</label>
          <%= text_field_tag :city, nil %>
        
      </div>

      <div class="field">
        <label>المنطقه</label>
          <%= text_field_tag :province, nil %>
      </div>

      <div class="field">
        <label>باقي العنوان</label>
          <%= text_field_tag :address, nil %>
      </div>

      <div class="field">
        <label>المكان علي الخريطه</label>
        <%= text_field_tag :latitude, nil, placeholder: "الخط العرضي" %> <%= text_field_tag :longitude, nil, placeholder: "الخط الطولي" %>
      </div>

      <div class="actions">
        <%= f.submit "سجّل", :class => "expand"%>
      </div>
    <% end %>

<!--     <div class="field">
      <p id="coordinates">Click the button to get your coordinates:</p>
      <button onclick="getLocation()">Try It</button>
    </div> -->

    <div id="map_canvas" style="width:100%; height:500px"></div><br/>

  <div>
  <%= render "devise/shared/links" %>
</div>

<script type="text/javascript">
  var geocoder;
  var map;
  var marker;

  function initialize(){
  //MAP
  var latlng = new google.maps.LatLng(41.659,-4.714);
  var options = {
    zoom: 16,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };

  map = new google.maps.Map(document.getElementById("map_canvas"), options);

  //GEOCODER
  geocoder = new google.maps.Geocoder();

  marker = new google.maps.Marker({
    map: map,
    draggable: true
  });

  };

  $(document).ready(function() {

    initialize();

    $(function() {
      $("#address").autocomplete({
  //This bit uses the geocoder to fetch address values
  source: function(request, response) {
    geocoder.geocode( {'address': request.term }, function(results, status) {
      response($.map(results, function(item) {
        return {
          label:  item.formatted_address,
          value: item.formatted_address,
          latitude: item.geometry.location.lat(),
          longitude: item.geometry.location.lng()
        }
      }));
    })
  },
  //This bit is executed upon selection of an address
  select: function(event, ui) {
    $("#user_latitude").val(ui.item.latitude);
    $("#user_longitude").val(ui.item.longitude);
    var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
    marker.setPosition(location);
    map.setCenter(location);
  }
  });
    });
  });
</script>