<!-- Page Title -->
<% title "تسجيل البيانات" %>

<!-- Scripts for Location GeoCoding -->


 <script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead.js"></script>
 <script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead-addresspicker.js"></script>

 <style media="screen">
   .typeahead,
.tt-query,
.tt-hint {
width: 100%;
height: 30px;
padding: 8px 12px;
font-size: 24px;
line-height: 30px;
border: 2px solid #ccc;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
outline: none;
}
.typeahead {
background-color: #fff;
}
.typeahead:focus {
border: 2px solid #0097cf;
}
.typeahead.empty {
border: 2px solid red;
}
.tt-query {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
color: #999;
width: 430px;
}
.tt-dropdown-menu {

padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
padding: 3px 20px;
font-size: 18px;
line-height: 24px;
}
.tt-suggestion.tt-cursor {
color: #fff;
background-color: #0097cf;
}

#address {
  margin-bottom:0;
  direction:rtl !important;
  width:100%;
}

#map {
  margin-top:10px;
}
 </style>


<div class="row register-content">

  <h2>تسجيل متبرع جديد</h2>

  <div class="column medium-6 sign-up medium-centered">

    <!-- New User Form -->
    <%= form_for(resource, :html => {"data-abide" => ''}, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- Developer Review: Error message -->
       <% if @user.errors.any? %>
        <div data-alert class="alert-box" id="error_explanation" >
        <% @user.errors.full_messages.each do |msg| %>
         <!-- Developer Review: Render message-->
	<div class="name">
          <%= msg %>
	</div>
	<% end %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end -%>


      <!-- New User Levels (Don't Change) -->
      <dl class="tabs row hor sign" data-tab>
        <dd class="active column large-4 first-level">
          <a href="#user-information">المعلومات</br>الشخصية</a>
        </dd>
        <dd class="disabled column large-4 second-level">
          <a href="#user-bloodtype">فصيلة</br>الدم</a>
        </dd>
        <dd class="disabled column large-4 third-level">
          <a href="#user-location">معلومات</br>المكان</a>
        </dd>
      </dl>
      <!-- End of New User Levels -->

      <!-- New User levels content-->
      <div class="tabs-content">

        <!-- First level, user information-->
          <div class="content active" id="user-information">

            <!-- Fields section -->
            <div class="fields_section">

              <!-- User Name -->
              <div class="field">

                  <%= f.text_field :name, :required=>"", :placeholder=>"الاسم" %>
                  <small class="error">يرجى إدخال الاسم.</small>

              </div>

              <!-- User gender -->
              <div class="field">

                  <%= f.select(:gender, [["male", "male"], ["female","female"]])  %>
                  <small class="error">يرجى إدخال النوع</small>

              </div>

              <!-- User Phone -->
              <div class="field">

                <%= f.text_field :phone, :required=>"", :placeholder=>"رقم الهاتف المحمول" %>
                <small class="error">يرجى كتابة رقم الهاتف المحمول ولا يقل عن ١١.</small>

              </div>


              <!-- User Email -->
              <div>

                  <%= f.email_field :email, :required=>"", :pattern=>"email", :placeholder=>"البريد الإلكتروني" %>
                  <small class="error">يرجى إدخال البريد الإلكتروني بشكل صحيح.</small>

              </div>

              <!-- User ID -->
              <div class="field">

                <%= f.text_field :national_id, :required=>"", :placeholder=> "الرقم القومي" %>
                <small class="error">يرجى كتابة الرقم القومي بشكل صحيح لا يقل عن ١٤ رقم.</small>

              </div>


              <div class="row">

                <!-- User Password -->
                <div class="column small-5">

                  <%= f.password_field :password, autocomplete: "off", :required=>"", :placeholder=>"كلمة السر" %>
                  <small class="error">يرجى إدخال كلمة السر بشكل صحيح.</small>

                </div>

                <!-- Password Confirmation -->
                <div class="column small-5">

                  <%= f.password_field :password_confirmation, autocomplete: "off", :required=>"", "data-equalto"=>"password", :placeholder=>"تأكيد كلمة السر" %>
                  <small class="error">يرجى التأكد من تأكيد كلمة السر.</small>

                </div>
              </div>
            </div>
            <!-- End of Fields section -->

            <!-- Next/previous levels buttons-->
            <div class="row">
              <dl data-tab>
                <dd class="column medium-6 left">
                  <a class="button expand disabled" href="#user-bloodtype" id="complete1">أكمل</a>
                </dd>
              </dl>
            </div>
          </div>
          <!-- End of First Level-->

          <!-- Second level: User Blood Type-->
          <div class="content" id="user-bloodtype">

            <!-- Fields section -->
            <div class="fields_section">

              <!-- User Age -->
              <div class="field">

                <%= f.text_field :age, :required=>"", :placeholder=>"السن" %>
                <small class="error">يرجى كتابة السن لمعرفة إمكانية التبرع.</small>

              </div>

              <!-- User BloodType -->
              <div class="field">
                  <%= f.select(:blood_type, [["A+","A+"],["A-","A-"],
                                                    ["B+","B+"],["B-","B-"],
                                                    ["O+","O+"],["O-","O-"],
                                                    ["AB+","AB+"],["AB-","AB-"]], include_blank: 'اختر فصيلة الدم') %>
                  <small class="error">لا تنس اختيار فصيلة الدم.</small>
              </div>
            </div>
            <!-- End of Fields section-->

            <!-- Next/previous levels buttons-->
            <div class="row">
              <dl data-tab>
                <dd class="column medium-6">
                  <a class="button expand" href="#user-information">العودة</a>
                </dd>
                <dd class="column medium-6">
                  <a class="button expand disabled" href="#user-location" id="#complete2">أكمل</a>
                </dd>
              </dl>
            </div>
            <!-- End -->

          </div>
          <!-- End of Second Level-->

          <!-- Third level: User Location -->
          <div class="content" id="user-location">

            <!-- Developer Review: review all the location section :D ! -->
            <!-- Fields section -->
            <div class="fields_section" >

              <!-- Google map -->


              <!-- User Address -->
              <%= f.text_field :location, :required=>"", :placeholder=>"العنوان", :id =>"address" %>
              <div id="map" style=" height:300px; width:100%; display:block; margin:auto;"></div>

                <div class="row" style="height:100px; overflow:hidden">

							<!-- Latitude -->
							<div class="small-6 column">
								<label>دائرة عرض
								<%= f.number_field :latitude, input_html: {id: "latitude"}, :value=>"0" %>
								</label>
							</div>

							<!-- Longitude -->
							<div class="small-6 column">
								<label>خط طول
								<%= f.number_field :longitude, input_html: {id: "longitude"}, :value=>"0" %>
								</label>
							</div>

						</div>
            </div>
            <!-- End of fields section-->

            <!-- Next/previous levels buttons-->
            <div class="actions row">
              <dl data-tab>
                <dd class="column medium-6">
                  <a class="button expand" href="#user-bloodtype">العودة</a>
                </dd>
                <dd class="column medium-6">
                  <button class="expand disabled" type="submit">سجّل</button>
                </dd>
              </dl>
            </div>

          </div>
          <!-- End of Third level -->
      </div>

    <% end %>
    <!-- End of User Form -->
  </div>
</div>


<script type="text/javascript">


    $("#user-information input").change( function() {
      var complete = false;
      $("#user-information").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-information").find("a.disabled").removeClass("disabled").addClass("enabled");
      $("dd.first-level").addClass("complete");
    };
  });

    $("#user-bloodtype").find("input").change( function() {
      var complete = false;
      $("#user-bloodtype").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-bloodtype").find("a.disabled").removeClass("disabled").addClass("enabled");
      $("dd.second-level").addClass("complete");
    };

    });


    $("#user-location").find("input").change( function() {
      var complete = false;
      $("#user-location").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-location").find("button").removeClass("disabled").addClass("enabled");
      $("dd.third-level").addClass("complete");
    };

    });

    $("#complete1").click( function () {
      $("dd.first-level").removeClass("active");
      $("dd.second-level").removeClass("disabled").addClass("active");
    });

    $("#complete2").click( function () {
      $("dd.second-level").removeClass("active");
      $("dd.third-level").removeClass("disabled").addClass("active");
    });

// instantiate the addressPicker suggestion engine (based on bloodhound)



function displayResults(result) {
$("#user_latitude").val(result.lat());
$("#user_longitude").val(result.lng());
}
$( function() {
var addressPicker = new AddressPicker({map: {id: '#map', zoom: 8}, marker: {draggable: true, visible: true}, reverseGeocoding: true});
$('#address').typeahead(null, {
displayKey: 'description',
source: addressPicker.ttAdapter()
});
addressPicker.bindDefaultTypeaheadEvent($('#address'));
$(addressPicker).on('addresspicker:selected', function (event, result) { displayResults(result)});
$(addressPicker).on('addresspicker:predictions', function(event, result) {
if (result && result.length > 0)
$('#address').removeClass("empty")
else
$('#address').addClass("empty")
})
})

</script>
