<!-- Page Title -->
<% title "تسجيل البيانات" %>

<!-- Scripts for Location GeoCoding -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css"></link>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="http://code.jquery.com/ui/1.8.1/jquery-ui.min.js"></script>


<div class="row register-content">

  <h2>تسجيل متبرع جديد</h2>

  <div class="column medium-5 sign-up medium-centered">

    <!-- New User Form -->
    <%= form_for(resource, :html => {"data-abide" => ''}, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <!-- Developer Review: Error message -->
<!--       <% flash.each do |name, msg| -%>
        <div data-alert class="alert-box" id="error_explanation" >

          Developer Review: Render message
          <%= content_tag :div, msg, class: name %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end -%> -->


      <!-- New User Levels (Don't Change) -->
      <dl class="tabs row hor sign" data-tab>
        <dd class="active column large-4 first-level">
          <a href="#user-information">المعلومات</br>الشخصية</a>
        </dd>
        <dd class="disabled column large-4 second-level">
          <a href="#user-bloodtype">فصيلة</br>الدم</a>
        </dd>
        <dd class="disabled column large-4 third-level">
          <a href="#user-location">معلومات</br>المكان</a>
        </dd>
      </dl>
      <!-- End of New User Levels -->

      <!-- New User levels content-->
      <div class="tabs-content">

        <!-- First level, user information-->
          <div class="content active" id="user-information">

            <!-- Fields section -->
            <div class="fields_section">

              <!-- User Name -->
              <div class="field">

                  <%= f.text_field :name, :required=>"", :placeholder=>"الاسم" %>
                  <small class="error">يرجى إدخال الاسم.</small>

              </div>

              <!-- User gender -->
              <div class="field">

                  <%= f.select(:gender, [["male", "male"], ["female","female"]])  %>
                  <small class="error">يرجى إدخال النوع</small>

              </div>

              <!-- User Phone -->
              <div class="field">

                <%= f.text_field :phone, :required=>"", :placeholder=>"رقم الهاتف المحمول" %>
                <small class="error">يرجى كتابة رقم الهاتف المحمول ولا يقل عن ١١.</small>

              </div>


              <!-- User Email -->
              <div>

                  <%= f.email_field :email, :required=>"", :pattern=>"email", :placeholder=>"البريد الإلكتروني" %>
                  <small class="error">يرجى إدخال البريد الإلكتروني بشكل صحيح.</small>

              </div>

              <!-- User ID -->
              <div class="field">

                <%= f.text_field :national_id, :required=>"", :placeholder=> "الرقم القومي" %>
                <small class="error">يرجى كتابة الرقم القومي بشكل صحيح.</small>

              </div>


              <div class="row">

                <!-- User Password -->
                <div class="column small-5">

                  <%= f.password_field :password, autocomplete: "off", :required=>"", :placeholder=>"كلمة السر" %>
                  <small class="error">يرجى إدخال كلمة السر بشكل صحيح.</small>

                </div>

                <!-- Password Confirmation -->
                <div class="column small-5">

                  <%= f.password_field :password_confirmation, autocomplete: "off", :required=>"", "data-equalto"=>"password", :placeholder=>"تأكيد كلمة السر" %>
                  <small class="error">يرجى التأكد من تأكيد كلمة السر.</small>

                </div>
              </div>
            </div>
            <!-- End of Fields section -->

            <!-- Next/previous levels buttons-->
            <div class="row">
              <dl data-tab>
                <dd class="column medium-6 left">
                  <a class="button expand disabled" href="#user-bloodtype" id="complete1">أكمل</a>
                </dd>
              </dl>
            </div>
          </div>
          <!-- End of First Level-->

          <!-- Second level: User Blood Type-->
          <div class="content" id="user-bloodtype">

            <!-- Fields section -->
            <div class="fields_section">

              <!-- User Age -->
              <div class="field">

                <%= f.number_field :age, :required=>"", :placeholder=>"السن" %>
                <small class="error">يرجى كتابة السن لمعرفة إمكانية التبرع.</small>

              </div>

              <!-- User BloodType -->
              <div class="field">
                  <%= f.select(:blood_type, [["A+","A+"],["A-","A-"],
                                                    ["B+","B+"],["B-","B-"],
                                                    ["O+","O+"],["O-","O-"],
                                                    ["AB+","AB+"],["AB-","AB-"]], include_blank: 'اختر فصيلة الدم') %>
                  <small class="error">لا تنس اختيار فصيلة الدم.</small>
              </div>
            </div>
            <!-- End of Fields section-->

            <!-- Next/previous levels buttons-->
            <div class="row">
              <dl data-tab>
                <dd class="column medium-6">
                  <a class="button expand" href="#user-information">العودة</a>
                </dd>
                <dd class="column medium-6">
                  <a class="button expand disabled" href="#user-location" id="#complete2">أكمل</a>
                </dd>
              </dl>
            </div>
            <!-- End -->

          </div>
          <!-- End of Second Level-->

          <!-- Third level: User Location -->
          <div class="content" id="user-location">

            <!-- Developer Review: review all the location section :D ! -->
            <!-- Fields section -->
            <div class="fields_section">

              <!-- Google map -->
              <div id="map_canvas" style="width:100%; height:300px"></div><br/>

              <!-- User Address -->
              <%= f.text_field :location, :required=>"", :placeholder=>"العنوان" %>

              <!-- Hidden fields: No need for user but important for geocoding! -->
              <div class="row" style="height:0; overflow:hidden">

                <!-- Latitude -->
                <div class="small-6 column">
                  <label>دائرة عرض
                  <%= f.text_field :latitude, input_html: {id: "latitude"}, :value=>"4.555" %>
                  </label>
                </div>

                <!-- Longitude -->
                <div class="small-6 column">
                  <label>خط طول
                  <%= f.text_field :longitude, input_html: {id: "longitude"}, :value=>"4.11" %>
                  </label>
                </div>

              </div>
            </div>
            <!-- End of fields section-->

            <!-- Next/previous levels buttons-->
            <div class="actions row">
              <dl data-tab>
                <dd class="column medium-6">
                  <a class="button expand" href="#user-bloodtype">العودة</a>
                </dd>
                <dd class="column medium-6">
                  <button class="expand disabled" type="submit">سجّل</button>
                </dd>
              </dl>
            </div>

          </div>
          <!-- End of Third level -->
      </div>

    <% end %>
    <!-- End of User Form -->
  </div>
</div>


<script type="text/javascript">

    $("#user-information input").change( function() {
      var complete = false;
      $("#user-information").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-information").find("a.disabled").removeClass("disabled").addClass("enabled");
      $("dd.first-level").addClass("complete");
    };
  });

    $("#user-bloodtype").find("input").change( function() {
      var complete = false;
      $("#user-bloodtype").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-bloodtype").find("a.disabled").removeClass("disabled").addClass("enabled");
      $("dd.second-level").addClass("complete");
    };

    });


    $("#user-location").find("input").change( function() {
      var complete = false;
      $("#user-location").find("input").each( function() {
        if ($(this).val().length === 0) {
          complete = false;
          return false;
        }
      else {
        complete = true;
      }
    });

    if (complete) {
      $("#user-location").find("button").removeClass("disabled").addClass("enabled");
      $("dd.third-level").addClass("complete");
    };

    });

    $("#complete1").click( function () {
      $("dd.first-level").removeClass("active");
      $("dd.second-level").removeClass("disabled").addClass("active");
    });

    $("#complete2").click( function () {
      $("dd.second-level").removeClass("active");
      $("dd.third-level").removeClass("disabled").addClass("active");
    });

</script>
