    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css"></link>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script src="http://code.jquery.com/ui/1.8.1/jquery-ui.min.js"></script>
    <div class="column large-12 sign-up">
  <%= form_for(@user, :html => {"data-abide" => ''}) do |f| %>
    <% if @user.errors.any? %>
      <div data-alert class="alert-box" id="error_explanation" >
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
        <a href="#" class="close">&times;</a>
      </div>
    <% end %>

    <div class="field">
      <label>الاسم <small>*مطلوب</small>
        <%= f.text_field :name, :required=>"" %>
        <small class="error">يرجى إدخال الاسم.</small>
      </label>
    </div>

    <div>
      <label>البريد الإلكتروني <small>*مطلوبة</small>
        <%= f.email_field :email, :required=>"", :pattern=>"email" %>
        <small class="error">يرجى إدخال البريد الإلكتروني بشكل صحيح.</small>
      </label>
    </div>


          <div><label> كلمة السر <small>*مطلوبة</small>
            <%= f.password_field :password, autocomplete: "off", :required=>"" %>
            <small class="error">يرجى إدخال كلمة السر بشكل صحيح.</small>
            </label>
            </div>

    <div>
      <label> تأكيد كلمة السر <small>*مطلوبة</small>
      <%= f.password_field :password_confirmation, autocomplete: "off", :required=>"" %>
      <small class="error">يرجى التأكد من تأكيد كلمة السر.</small>
    </label>
    </div>


    <div class="field">
      <label>رقم الهاتف المحمول <small>*مطلوب</small>
      <%= f.text_field :phone, :required=>"" %>
      <small class="error">يرجى كتابة رقم الهاتف المحمول ولا يقل عن ١١.</small>
      </label>
    </div>
    
    <div class="field">
      <label>السن <small>*مطلوب</small>
      <%= f.text_field :age, :required=>"" %>
      <small class="error">يرجى كتابة السن لمعرفة إمكانية التبرع.</small>
      </label>
    </div>

    <div class="field">
      <label>الرقم القومي <small>*مطلوب</small>
      <%= f.text_field :ID, :required=>"" %>
      <small class="error">يرجى كتابة الرقم القومي بشكل صحيح.</small>
      </label>
    </div>

    <div class="field">
      <label>فصيلة الدم <small>*مطلوبة</small>

        <select id="user_blood_type" name="user[blood_type]", required>
          <option value="">Select Blood type</option>
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option></select>
      <small class="error">لا تنس اختيار فصيلة الدم.</small>
      </label>                                                  
    </div>
<div>
         <label>العنوان: <%= f.text_field :donator_address, input_html: {id: "latitude"} %> </label>

<div id="map_canvas" style="width:100%; height:500px"></div><br/>

<div class="row">
    <div class="small-6 column">
      <label>دائرة عرض
      <%= f.text_field :latitude, input_html: {id: "latitude"} %>
      </label>
    </div>

    <div class="small-6 column">
      <label>خط طول
      <%= f.text_field :longitude, input_html: {id: "longitude"} %>
      </label>
    </div>
    </div>
</div>
    <div class="actions">
      <button class="expand" type="submit">سجّل</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var geocoder;
var map;
var marker;
   
function initialize(){
//MAP
  var latlng = new google.maps.LatLng(41.659,-4.714);
  var options = {
    zoom: 16,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
       
  marker = new google.maps.Marker({
    map: map,
    draggable: true
  });
               
};

$(document).ready(function() {
         
  initialize();
                 
  $(function() {
    $("#user_donator_address").autocomplete({
      //This bit uses the geocoder to fetch address values
      source: function(request, response) {
        geocoder.geocode( {'address': request.term }, function(results, status) {
          response($.map(results, function(item) {
            return {
              label:  item.formatted_address,
              value: item.formatted_address,
              latitude: item.geometry.location.lat(),
              longitude: item.geometry.location.lng()
            }
          }));
        })
      },
      //This bit is executed upon selection of an address
      select: function(event, ui) {
        $("#user_latitude").val(ui.item.latitude);
        $("#user_longitude").val(ui.item.longitude);
        var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
        marker.setPosition(location);
        map.setCenter(location);
      }
    });
  });
});
</script>
