<!-- Page Title -->
<% title "سجل النشاط" %>

<div class="row" >

  <!-- Title -->
  <div class="column medium-6">
    <h1>سجل النشاط</h1>
  </div>

  <!-- Back to User Profile -->
  <div class="column medium-6">
    <div class="left">

      <!-- Developer Review: link to user profile -->
      <%= link_to 'العودة إلى الصفحة الشخصية', @user %>

    </div>
  </div>

</div>

<div class="request-list">

  <!-- Developer Review: start requests loop -->
  <% @uncompleted_donations.each do |reply| %>
  <!-- Developer Review: if request is active -->
  <!-- request list active item-->
  <div class="single-request">

    <div class="row">
      <div class="column small-1 left close">

        <!-- Developer Request: cancel Request -->
        <%= link_to "إلغاء ×", cancel_reply_path, :method => "POST" %>

      </div>
    </div>
    <div class="row">
      <!-- Request status, Bloodtype, Due date-->
      <div class="column small-2 request-status active">

        <p>
          <!-- Developer Review: Request required bloodtype-->
          <%= reply.request.blood_type %>
        </p>
        <p>
          <!-- Developer Review: Request Due Date-->
          <%= reply.request.due_date.to_date %>
        </p>
      </div>

      <!-- Request bloodbags no. , hopital address -->
      <div class="column small-4">

        <p>
          عدد أكياس الدم:
          <!-- Developer Review: Request Bloodtype no. -->
          <span><%= reply.request.blood_bags %></span>
        </p>

        <p>
          عنوان المستشفى:
          <!-- Developer Review: Hospital address -->
          <span><%= reply.request.location.full_address %></span>
        </p>

      </div>

      <!-- Reply to request, see more details, share request on social media -->
      <div class="column small-4">
        <div class="row request-options">

          <!-- Developer Review: link to Request Page for more details -->
          <a href="<%= request_path(reply.request) %>" class="button">مزيد من التفاصيل</a>

          </br>
          <!-- Social Media share -->
          <div class="social-share">

            <!-- Developer Review: Replace  request_url(r)  with link to request link -->
            <!-- Facebook share -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) "><li class="fa fa-facebook"></li></a>

            <!-- Twitter share -->
            <a href="https://twitter.com/intent/tweet?url=request_url(r)"><li class="fa fa-twitter"></li></a>

            <!-- G+ share -->
            <a href="https://plus.google.com/share?url=request_url(r)"><li class="fa fa-google-plus"></li></a>

          </div>
        </div>
      </div>

    </div>
  </div>

<%end%>

<% @confirmed_donations.each do |reply| %>
  <!-- Developer Review: if request is done -->
  <!-- request list done item-->
  <div class="single-request">

    <div class="row">
      <!-- Request status, Bloodtype, Due date-->
      <div class="column small-2 request-status done">

        <p>
          <!-- Developer Review: Request required bloodtype-->
          <%= reply.request.blood_type %>
        </p>
        <p>
          <!-- Developer Review: Request Due Date-->
          <%= reply.request.due_date.to_date %>
        </p>
      </div>

      <!-- Request bloodbags no. , hopital address -->
      <div class="column small-4">

        <p>
          عدد أكياس الدم:
          <!-- Developer Review: Request Bloodtype no. -->
          <span><%= reply.request.blood_bags %></span>
        </p>

        <p>
          عنوان المستشفى:
          <!-- Developer Review: Hospital address -->
          <span><%= reply.request.location.full_address %></span>
        </p>

      </div>

      <!-- Reply to request, see more details, share request on social media -->
      <div class="column small-4">
        <div class="row request-options">

          <!-- Developer Review: link to Request Page for more details -->
          <a href="<%= request_path(reply.request) %>" class="button">مزيد من التفاصيل</a>


          </br>
          <!-- Social Media share -->
          <div class="social-share">

            <!-- Developer Review: Replace  request_url(r)  with link to request link -->
            <!-- Facebook share -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) "><li class="fa fa-facebook"></li></a>

            <!-- Twitter share -->
            <a href="https://twitter.com/intent/tweet?url=request_url(r)"><li class="fa fa-twitter"></li></a>

            <!-- G+ share -->
            <a href="https://plus.google.com/share?url=request_url(r)"><li class="fa fa-google-plus"></li></a>

          </div>
        </div>
      </div>

    </div>
  </div>

  <%end%>
  <% @cancelled_donations.each do |reply| %>

  <!-- Developer Review: if request is canceled -->
  <!-- request list canceled item-->
  <div class="single-request">

    <div class="row">
      <!-- Request status, Bloodtype, Due date-->
      <div class="column small-2 request-status canceled">

              <p>
                <!-- Developer Review: Request required bloodtype-->
                <%= reply.request.blood_type %>
              </p>
              <p>
                <!-- Developer Review: Request Due Date-->
                <%= reply.request.due_date.to_date %>
              </p>
            </div>

            <!-- Request bloodbags no. , hopital address -->
            <div class="column small-4">

              <p>
                عدد أكياس الدم:
                <!-- Developer Review: Request Bloodtype no. -->
                <span><%= reply.request.blood_bags %></span>
              </p>

              <p>
                عنوان المستشفى:
                <!-- Developer Review: Hospital address -->
                <span><%= reply.request.location.full_address %></span>
              </p>

            </div>

            <!-- Reply to request, see more details, share request on social media -->
            <div class="column small-4">
              <div class="row request-options">

                <!-- Developer Review: link to Request Page for more details -->
                <a href="<%= request_path(reply.request) %>" class="button">مزيد من التفاصيل</a>


                </br>
                <!-- Social Media share -->
                <div class="social-share">

                  <!-- Developer Review: Replace  request_url(r)  with link to request link -->
                  <!-- Facebook share -->
                  <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) "><li class="fa fa-facebook"></li></a>

                  <!-- Twitter share -->
                  <a href="https://twitter.com/intent/tweet?url=request_url(r)"><li class="fa fa-twitter"></li></a>

                  <!-- G+ share -->
                  <a href="https://plus.google.com/share?url=request_url(r)"><li class="fa fa-google-plus"></li></a>

                </div>
              </div>
            </div>


    </div>
  </div>

<%end%>
  <!-- Developer Review: End if -->
  <!-- Developer Review: End loop -->
</div>
