<<<<<<< HEAD
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Back', @user %>
=======
<h1>Editing Donor</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
>>>>>>> master
