<table>
<h1>Listing Donors</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Blood type</th>
    <th>Email</th>
    <th>Password</th>
    <th>Phone number</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Can Donate ?</th>
    <th>Availability ?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.age %></td>
    <td><%= user.blood_type %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.phone %></td>
    <td><%= user.latitude %></td>
    <td><%= user.longitude %></td>
    <td><%= user.can_donate %></td>
    <td><%= user.is_available %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donor', new_user_path %>

