<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Age:</b>
  <%= @user.age %>
</p>

<p>
  <b>Blood type:</b>
  <%= @user.blood_type %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<p>
  <b>Phone number:</b>
  <%= @user.phone%>
</p>

<p>
  <b>Latitude:</b>
  <%= @user.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @user.longitude %>
</p>

<p>
  <b>Availablity:</b>
  <%= @user.is_available %>
</p>

<p>
  <b>Can Donate:</b>
  <%= @user.can_donate %>
</p>

<p>
  <b>Last Donated was At: </b>
  <%= @user.last_donated.strftime("%Y-%m-%d") %>
</p>

<p>
  <b>Lives Saved:</b>
  <%= @user.no_of_donates %>
</p>

<p>
  <b>Trophies:</b>
  <%= @trophies_txt %></p>

  
<%= button_to 'My requests' , my_requests_user_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
