<script src="http://code.jquery.com/ui/1.8.1/jquery-ui.min.js"></script>


<%= form_for(@request, :html => {"data-abide" => ''}) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>بيانات التواصل</h2>

  <div class="field">
    <label>الاسم <small>*مطلوب</small>
    <%= f.text_field :contact_name, :required=>"" %>
    </label>
   <small class="error">يرجى كتابة الاسم.</small>

  </div>

  <div class="field">
    <label>رقم الهاتف المحمول <small>*مطلوب</small>
    <%= f.text_field :contact_phone, :required=>"" %>
    <small class="error">تأكد من كتابة رقم الهاتف ولا يقل عن ١١ رقم.</small>
    </label>
  </div>

  <div class="field">
    <label>البريد الإلكتروني <small>*مطلوب</small>
    <%= f.text_field :email, :required=>"", :pattern=>"email" %>
    <small class="error">تأكد من كتابة البريد الإلكتروني بشكل صحيح.</small>
    </label>
  </div>

  <h2>بيانات المريض</h2>

  <div class="field">
    <label>اسم المريض <small>*مطلوب</small>
    <%= f.text_field :patient_name, :required=>"" %>
    <small class="error">يرجى التأكد من كتابة اسم المرض.</small>
    </label>
  </div>
  
  <div class="field">
    <label>الرقم القومي <small>*مطلوب</small>
    <%= f.text_field :national_id, :required=>"" %>
    <small class="error">تأكد من كتابة الرقم القومي بشكل صحيح</small>
    </label>
  </div>

 <div class="field">
    <label>فصيلة الدم <small>*مطلوب</small>
    <%= f.select :blood_type, options_for_select([["Select Blood type",""],["A+","A+"],["A-","A-"],
                                                ["B+","B+"],["B-","B-"],
                                                ["O+","O+"],["O-","O-"],
                                                ["AB+","AB+"],["AB-","AB-"]],@request), :html => {"required" => ''} %>
    </label>
                                                
  </div>

  <div class="field">
    <label>عدد أكياس الدم <small>*مطلوب</small>
    <%= f.number_field :blood_bags, :required=>"" %>
    <small class="error">تأكد من عدد أكياس الدم.</small>
    </label>
  </div>

  <div class="field">
    <label>فصيلة الدم المطلوبة <small>*اختياري</small>
    <%= f.text_field :req_type %>
    </label>
  </div>
  <div class="field">
    <label>تاريخ انتهاء الطلب <small>*مطلوب</small>
    <%= f.text_field :due_date, :required=>"" %>
    <small class="error">تأكد من كتابة التاريخ.</small>
    </label>
  </div>


  <div class="field">
    <label>اسم المستشفى <small>*مطلوب</small>
    <%= f.text_field :hospital_name, :required=>"" %>
    <small class="error">تأكد من كتابة اسم المستشفى.</small>
    </label>
  </div>
  <div class="field">
    <label>رقم هاتف المستشفى <small>اختياري</small>
    <%= f.text_field :hospital_phone %>
    </label>


  <div>
         <label>عنوان المستشفى:<%= f.text_field :hospital_address, :id =>"address" %></label>

<div id="map_canvas" style="width:100%; height:500px"></div><br/>

<div class="row">
    <div class="small-6 column">
      <label>دائرة عرض
      <%= f.text_field :latitude, input_html: {id: "latitude"} %>
      </label>
    </div>

    <div class="small-6 column">
      <label>خط طول
      <%= f.text_field :longitude, input_html: {id: "longitude"} %>
      </label>
    </div>
    </div>
</div>
  
  </div>

  <div class="actions">
    <button type="submit" class="expand">سجّل</button>
  </div>
<% end %>

<script type="text/javascript">
  var geocoder;
var map;
var marker;
   
function initialize(){
//MAP
  var latlng = new google.maps.LatLng(41.659,-4.714);
  var options = {
    zoom: 16,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.SATELLITE
  };
       
  map = new google.maps.Map(document.getElementById("map_canvas"), options);
       
  //GEOCODER
  geocoder = new google.maps.Geocoder();
       
  marker = new google.maps.Marker({
    map: map,
    draggable: true
  });
               
};

$(document).ready(function() {
         
  initialize();
                 
  $(function() {
    $("#address").autocomplete({
      //This bit uses the geocoder to fetch address values
      source: function(request, response) {
        geocoder.geocode( {'address': request.term }, function(results, status) {
          response($.map(results, function(item) {
            return {
              label:  item.formatted_address,
              value: item.formatted_address,
              latitude: item.geometry.location.lat(),
              longitude: item.geometry.location.lng()
            }
          }));
        })
      },
      //This bit is executed upon selection of an address
      select: function(event, ui) {
        $("#user_latitude").val(ui.item.latitude);
        $("#user_longitude").val(ui.item.longitude);
        var location = new google.maps.LatLng(ui.item.latitude, ui.item.longitude);
        marker.setPosition(location);
        map.setCenter(location);
      }
    });
  });
});
</script>
