<!-- Page Title -->
<% title "عرض الحالات الكاملة" %>

<div class="row" >

  <!-- Title -->
  <div class="column medium-6">
    <h1>عرض الحالات الكاملة</h1>
  </div>

</div>

<div class="request-list">

  <!-- Developer Review: start requests loop -->
  <% @requests.each do |request| %>
  <!-- Developer Review: if request is active -->

  <!-- request list active item-->
  <div class="single-request">

    <div class="row">
      <div class="column small-1 left close">

        <!-- Developer Request: cancel Request -->
        <a href="#">
          إلغاء ×
        </a>

      </div>
    </div>
    <div class="row">
      <!-- Request status, Bloodtype, Due date-->
      <div class="column small-2 request-status active">

        <p>
          <!-- Developer Review: Request required bloodtype-->
          <%= request.blood_type %>
        </p>
        <p class="small">
          <!-- Developer Review: Request Due Date-->
          <%= request.due_date.to_date %>
        </p>
      </div>

      <!-- Request bloodbags no. , hopital address -->
      <div class="column small-4">

        <p>
          عدد أكياس الدم:
          <!-- Developer Review: Request Bloodtype no. -->
          <span><%= request.blood_bags %></span>
        </p>

        <p>
          اسم المستشفى:
          <!-- Developer Review: Hospital address -->
          <span><%= request.hospital_name %></span>
        </p>

      </div>

      <!-- Reply to request, see more details, share request on social media -->
      <div class="column small-4">
        <div class="row request-options">

          <!-- Developer Review: send reply to request (replace # with link to reply to request) -->
          <%= link_to 'تبرع', reply_request_path(request), class: 'button', method: :post %>
          </br>

          <!-- Developer Review: link to Request Page for more details -->
          <%= link_to 'مزيد من التفاصيل', request_path(request) %>
          |
          <!-- Social Media share -->
          <div class="social-share">

            <!-- Developer Review: Replace  request_url(r)  with link to request link -->
            <!-- Facebook share -->
            <a href="https://www.facebook.com/sharer/sharer.php?u=request_url(r) " target='_blank'><li class="fa fa-facebook"></li></a>

            <!-- Twitter share -->
            <a href="https://twitter.com/intent/tweet?url=request_url(r)" target="_blank"><li class="fa fa-twitter"></li></a>

            <!-- G+ share -->
            <a href="https://plus.google.com/share?url=request_url(r)" target="_blank"><li class="fa fa-google-plus"></li></a>

          </div>
        </div>
        <!-- request options -->
      </div>
      <!-- small4 -->
    </div>
    <!-- row -->
  </div>
  <!-- single -->


  <!-- Developer Review: End if -->
  <% end %>
  <% unless @requests.any? %>
    <h2>لا توجد حالات حالياً</h2>
  <% end -%>
  <!-- Developer Review: End loop -->
</div>
