<!-- Page Title -->
<% title "تسجيل حالة تبرع جديدة" %>

<!-- Scripts for Location GeoCoding -->
<script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead.js"></script>
<script src="https://rawgithub.com/sgruhier/typeahead-addresspicker/master/dist/typeahead-addresspicker.js"></script>
<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">


<style media="screen">
	.typeahead,
.tt-query,
.tt-hint {
width: 100%;
height: 30px;
padding: 8px 12px;
font-size: 24px;
line-height: 30px;
border: 2px solid #ccc;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
outline: none;
}
.typeahead {
background-color: #fff;
}
.typeahead:focus {
border: 2px solid #0097cf;
}
.typeahead.empty {
border: 2px solid red;
}
.tt-query {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
color: #999;
width: 430px;
}
.tt-dropdown-menu {

padding: 8px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
padding: 3px 20px;
font-size: 18px;
line-height: 24px;
}
.tt-suggestion.tt-cursor {
color: #fff;
background-color: #0097cf;
}

#address {
margin-bottom:0;
direction:rtl !important;
width:100%;
}

#map {
margin-top:10px;
}
</style>


<!-- Page Title -->
<% title "تسجيل حالة تبرع جديدة" %>


<div class="row">

	<h1>تسجيل حالة تبرع جديدة</h1>

	<div class="column medium-5 sign-up medium-centered">

		<!-- Developer Review: Beginning of Request Form -->
		<%= form_for(@request, :html => {"data-abide" => ''}) do |f| %>

		  <!-- Developer Review: Error message -->
		  <% if @request.errors.any? %>
				<div data-alert class="alert-box" id="error_explanation" >
      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
					<a href="#" class="close">&times;</a>
				</div>
				<% end %>

			<!-- New Request Levels status-->
	    <dl class="tabs row hor sign" data-tab>
	      <dd class="active column medium-4 first-level">
	        <a href="#contact-information">بيانات التواصل</a>
	      </dd>
	      <dd class="disabled column medium-4 second-level">
	        <a href="#patient-information">بيانات المريض</a>
	      </dd>
	      <dd class="disabled column medium-4 third-level">
	        <a href="#hospital-information">بيانات المستشفى</a>
	      </dd>
	    </dl>
			<!-- End of Request levels status-->

			<!-- New Request levels content -->
			<div class="tabs-content">

				<!-- First level: Contact info. -->
				<div class="content active" id="contact-information">

					<!-- Fields section -->
		      <div class="fields_section">

			      <!-- Contact Name -->
			      <div class="field">

			        <%= f.text_field :contact_name, :required=>"", :placeholder=>"الاسم" %>

			        <small class="error">يرجى كتابة الاسم.</small>
			      </div>

			      <!-- Contact Phone -->
			      <div class="field">

			        <%= f.text_field :contact_phone, :required=>"", :placeholder=>"رقم التليفون المحمول" %>
			        <small class="error">تأكد من كتابة رقم الهاتف ولا يقل عن ١١ رقم.</small>

			      </div>

			      <!-- Contact Email -->
			      <div class="field">

			        <%= f.text_field :email, :required=>"", :pattern=>"email", :placeholder=>"البريد الإلكتروني" %>
			        <small class="error">تأكد من كتابة البريد الإلكتروني بشكل صحيح.</small>

			      </div>

				    <!-- Contact ID -->
				    <div class="field">

				      <%= f.text_field :national_id, :required=>"", :placeholder=>"الرقم القومي" %>
				      <small class="error">تأكد من كتابة الرقم القومي بشكل صحيح</small>

				    </div>

			    </div>
					<!-- End of Fields section-->

					<!-- Next/previous levels buttons-->
		      <div class="row">
		        <dl data-tab>
		          <dd class="column medium-6 left">
		            <a class="button expand disabled" id="complete1" href="#patient-information">أكمل</a>
		          </dd>
		        </dl>
		      </div>
		    </div>
				<!-- End of First level -->

				<!-- Second level: Patient info.-->
		    <div class="content" id="patient-information">

					<!-- Fields section -->
					<div class="fields_section">

			      <!-- Patient Name -->
			      <div class="field">

			        <%= f.text_field :patient_name, :required=>"", :placeholder=>"اسم المريض" %>
			        <small class="error">يرجى التأكد من كتابة اسم المريض.</small>

			      </div>

			      <!-- Patient BloodType -->
			    <!-- User BloodType -->
						<div class="field">
								<%= f.select(:blood_type, [["A+","A+"],["A-","A-"],
																									["B+","B+"],["B-","B-"],
																									["O+","O+"],["O-","O-"],
																									["AB+","AB+"],["AB-","AB-"]], include_blank: 'اختر فصيلة الدم') %>
								<small class="error">لا تنس اختيار فصيلة الدم.</small>
						</div>

			      <!-- Required # of BloodBags -->
			      <div class="field">

			        <%= f.number_field :blood_bags, :required=>"", :placeholder=>"عدد أكياس الدم" %>
			        <small class="error">تأكد من عدد أكياس الدم.</small>

			      </div>

			      <!-- Due Date -->
			      <div class="field">


			        <%= f.text_field :due_date, :required=>"", :placeholder=>"مهلة انتهاء الطلب" , :id=>"datepicker"%>
			        <small class="error">تأكد من كتابة التاريخ.</small>
			        <script type="text/javascript">
			          $(function() {
			          $( "#datepicker" ).datepicker({dateFormat: 'dd/mm'});
			          });
			        </script>
			      </div>

		    	</div>
					<!-- End of Fields section -->

					<!-- Next/previous levels buttons-->
		      <div class="row">
		        <dl data-tab>
		          <dd class="column medium-6">
		            <a class="button expand" href="#contact-information">العودة</a>
		          </dd>
		          <dd class="column medium-6">
		            <a class="button expand disabled" id="complete2" href="#hospital-information">أكمل</a>
		          </dd>
		        </dl>
		      </div>

		    </div>
				<!-- End of second level -->

				<!-- Third level: hospital info. -->
		    <div class="content" id="hospital-information">
					<!-- Developer Review: review all the location section :D ! -->
					<!-- Fields section -->
					<div class="fields_section">

    <div class="row">


    <!-- Hospital Name -->
    <div class="column small-5">

      <%= f.text_field :hospital_name, :required=>"", :placeholder=>"اسم المستشفى" %>
      <small class="error">تأكد من كتابة اسم المستشفى.</small>

    </div>

    <!-- Hospital Phone -->
    <div class="column small-5">

      <%= f.text_field :hospital_phone, :placeholder=>"رقم هاتف المستشفى" %>

    </div>
  </div>

						<!-- Google map -->
						<div id="map" style="width:100%; height:300px"></div><br/>

						<!-- User Address -->
						<%= f.text_field :location, :required=>"", :placeholder=>"العنوان", value: "", :id => "address" %>


					</div>
					<!-- End of fields section-->
					<!-- End of fields section -->

		      <!-- Next/previous levels buttons-->
		      <div class="actions row">
		        <dl data-tab>
		          <dd class="column medium-6">
		            <a class="button expand" href="#patient-information">العودة</a>
		          </dd>
		          <dd class="column medium-6">
		            <button class="expand disabled" type="submit">سجّل</button>
		          </dd>
		        </dl>
		      </div>

		    </div>
				<!-- End of Third level -->
			</div>
			<!-- End of New request levels content -->

		<% end %>
		<!-- End of Request Form -->
	</div>
</div>

<script type="text/javascript">

		$("#contact-information").find("input").change( function() {
			var complete = false;
			$("#contact-information").find("input").each( function() {
				if ($(this).val().length === 0) {
					complete = false;
					return false;
				}
			else {
				complete = true;
			}
		});

		if (complete) {
			$("#contact-information").find("a.disabled").removeClass("disabled").addClass("enabled");
			$("dd.first-level").addClass("complete");
		};

		$("#patient-information").find("input").change( function() {
			var complete = false;
			$("#patient-information").find("input").each( function() {
				if ($(this).val().length === 0) {
					complete = false;
					return false;
				}
			else {
				complete = true;
			}
		});

		if (complete) {
			$("#patient-information").find("a.disabled").removeClass("disabled").addClass("enabled");
			$("dd.second-level").addClass("complete");
		};

		});
		});

		$("#hospital-information").find("input").change( function() {
			var complete = false;
			$("#hospital-information").find("input").each( function() {
				if ($(this).val().length === 0) {
					complete = false;
					return false;
				}
			else {
				complete = true;
			}
		});

		if (complete) {
			$("#hospital-information").find("button").removeClass("disabled").addClass("enabled");
			$("dd.third-level").addClass("complete");
		};

		});

		$("#complete1").click( function () {
			$("dd.first-level").removeClass("active");
			$("dd.second-level").removeClass("disabled").addClass("active");
		});

		$("#complete2").click( function () {
			$("dd.second-level").removeClass("active");
			$("dd.third-level").removeClass("disabled").addClass("active");
		});

		// instantiate the addressPicker suggestion engine (based on bloodhound)
		var addressPicker = new AddressPicker({map: {id: '#map'}, marker: {draggable: true, visible: true}, zoom: 8, reverseGeocoding: true});

		// instantiate the typeahead UI
		$('#address').typeahead(null, {
			displayKey: 'description',
			source: addressPicker.ttAdapter()
		});

		// Bind some event to update map on autocomplete selection
		$('#address').bind("typeahead:selected", addressPicker.updateMap);
		$('#address').bind("typeahead:cursorchanged", addressPicker.updateMap);


</script>
