<!-- Page Title -->
<% title "ردود المتبرعين" %>

<div class="row" >

  <!-- Title -->
  <div class="column medium-6">
    <h1>ردود المتبرعين</h1>
  </div>
  <!-- Back to request Profile -->
  <div class="column medium-6 left">
    <div class="left">

      <!-- Developer Review: link to request profile -->
      <a href="#">العودة إلى صفحة الحالة</a>

    </div>
  </div>
</div>



<div class="replies-list">

  <!-- Developer Review: start replies loop -->
  <% @replies.each do |reply| %>
  <!-- single reply item -->
  <div class="single-reply column medium-4 large-3">

    <!-- cancel reply -->
    <div class="row">
      <div class="left close">

        <!-- cancel reply -->
        <a href="#" data-reveal-id="cancel-reply">
          إلغاء ×
        </a>

        <!-- Cancel reply confirmation popup -->
        <div id="cancel-reply" class="reveal-modal" data-reveal style="text-align:center;">

          <p>هل تريد إلغاء الرد؟ </br>(يمكنك إرسال تقرير عن مخالفة المتبرع للقواعد).</p>

          <!-- Developer Review: Cancel reply  -->
          <%= link_to 'إلغاء الرد', cancel_reply_path, :method=>:post, :class=>"button" %>

          <!-- Developer Review: send report -->
          <%= link_to 'إرسال تقرير', report_reply_path, :method=>:post, :class=>"button" %>


          <a class="close-reveal-modal">&#215;</a>
        </div>

      </div>
    </div>

    <!-- donor name, phone -->
    <div class="row donor-reply">

    <!-- Developer Review: donor name -->
    <p><%= reply.user.name %></p>

    <!-- Developer Review: donor phone no. -->
    <p><%= reply.user.phone %></p>
    </div>

    <!-- Developer Review: confirm donor -->
    <%= link_to 'تأكيد التبرع', confirm_reply_path, :method=>:post, :class=>"button" %>
  </div>



  <!-- Developer Review: End loop -->
  <%end%>
</div>
