<p id="notice"><%= notice %></p>

<p>
  <b>Patient name:</b>
  <%= @request.patient_name %>
</p>

<p>
  <b>Contact name:</b>
  <%= @request.contact_name %>
</p>

<p>
  <b>National:</b>
  <%= @request.national_id %>
</p>

<p>
  <b>Blood type:</b>
  <%= @request.blood_type %>
</p>

<p>
  <b>Req type:</b>
  <%= @request.req_type %>
</p>

<p>
  <b>Due date:</b>
  <%= @request.due_date %>
</p>

<p>
  <b>Hospital address:</b>
  <%= @request.hospital_address %>
</p>

<p>
  <b>Hospital phone:</b>
  <%= @request.hospital_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @request.email %>
</p>

<p>
  <b>Blood bags:</b>
  <%= @request.blood_bags %>
</p>

<p>
  <b>Donors who replied on the request</b>

 
  <%  @replies = Reply.all.where(request: @request) %>

    <%   if !@replies.empty? %>
<table>
    <% @replies.each do |p| %>
            <%@user=p.user%>
      <tr><td>  <%= p.user.name %></td>
    <td>    <%= button_to 'Confirm',confirm_request_path(@request,:user_id =>@user.id,:reply_id =>p.id, method: :post)%></td></tr>

     <%end%>
     </table>
<% end %>

</p>
<p>
  <b>Current state of request:</b>
  <%= @request.state %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
