<!-- Page Title -->
<% title "صفحة الحالة" %>

<div class="request_profile">


  <!-- request Status, No., Bloodtype -->
  <div class="row request-name">


    <% status = 'done' if @request.fulfilled? %>
    <% status = 'cancelled' if @request.banned || @request.stopped %>
    <% status = 'active' %>
    <!-- Developer Review: request status -->
    <!-- Developer Review: if request is Active -->

     <!-- Developer Review: if request is cancelled-->
    <div class="column small-6 request-<%= status %>">

    <!-- Developer Review: End of condition -->

      <!-- Developer Review: Request No. -->
      <h1><%= @request.request_no %></h1>

      <!-- Developer Review: request Bloodtype -->
      <p>فصيلة الدم: <span><%= @request.blood_type %></span></p>

      <!-- Developer Review: hospital address -->

      <p>اسم المستشفى: <span><%= @request.hospital_name %></span></p>
      <p>عنوان المستشفى: <span><%= @request.location.full_address %></span></p>

    </div>
  </div>

  <!-- request due date, bloodbags no. , replies no. -->
  <div class="row request-blocks">

    <!-- request Due Date -->
    <div class="column small-4">
      <div class="row">

        <!-- Last Donation Date -->
        <!-- Developer Review: Request Due date -->
        <h1 class="donor_last_date_enabled">
          <%= @request.due_date.to_date %>
        </h1>
      </div>

      <p>مهلة الطلب</p>
    </div>

    <!-- no. of bloodbags -->
    <div class="column small-4">
      <div class="row">

        <!-- Developer Review: # of bloodbags -->
        <h1 class="bloodbags">
          <%= @request.blood_bags %>
        </h1>
      </div>

      <p>
        عدد أكياس الدم
      </p>
    </div>

    <!-- Request replies -->
    <div class="column small-4">
      <div class="row">

        <!-- Developer Review: no. of request replies, -->
        <h1 class="requests_awaiting_enabled">
          <a href="<%= replies_path(@request) %>">
            <%= @request.no_of_replies %>
          </a>
        </h1>
      </div>

      <p>
        <a href="<%= replies_path(@request) %>">
        ردود المتبرعين
      </a>
      </p>
    </div>

  </div>

<!-- Reply to request, see more details, share request on social media -->
<div class="row">
  <div class="request-options">

    <!-- Developer Review: send reply to request (replace # with link to reply to request) -->
    <%= link_to "تبرع", reply_request_path(@request), class: 'button', method: :post %>
  </br>

    <!-- Developer Review: if request signed in -->
    <!-- request settings -->
    <% if user_signed_in? %>
    <a data-dropdown="request-settings" aria-controls="drop1" aria-expanded="false">إعدادات الحساب</a>
    <ul id="request-settings" class="f-dropdown" data-dropdown-content>


      <!-- Developer Review: edit info. -->
      <li>
        <%= link_to 'تعديل البيانات', edit_user_registration_path(current_user) %>
      </li>

      <!-- Developer Review: if request active -->
      <li>

        <!-- Developer review: if user is available -->
        <% if !current_user.paused %>

          <!-- Developer review: pause user's account -->
          <%= link_to 'تجميد الحساب', pause_user_path(current_user), :method=>:post %>

        <!-- Developer review: if user Not Available -->
        <% else %>

          <!-- Developer review: resume user's account -->
          <%= link_to 'تفعيل الحساب', unpause_user_path(current_user), :method=>:post  %>
        <% end %>
      </li>
      <!-- Developer Review: End of if condition -->

    </ul>
    <% end %>
    <!-- Developer Review: End of if condition -->

    |
    <!-- Developer Review: link to Request Page for more details -->
    <a href="#" data-reveal-id="more-request-details">مزيد من التفاصيل</a>

    <div id="more-request-details" class="reveal-modal" data-reveal style="text-align:center;">

      <!-- Developer Review: if user signed in -->
        <!-- Developer Review: Contact Name -->

        <% if user_signed_in? %>

          <p>الاسم: <span><%= @request.contact_name %></span></p>

          <!-- Developer Review: Contact No. -->
          <p>رقم الهاتف: <span><%= @request.contact_phone %></span></p>

          <!-- Developer Review: Patient Name -->
          <p>اسم المريض: <span><%= @request.patient_name %></span></p>

          <!-- Developer Review: Hospital Name -->
          <p>اسم المستشفى: <span><%= @request.hospital_name %></span></p>
        <% else %>


      <!-- Developer Review: if user not signed in -->
        <p>عذراً يجب أن تكون مسجلاً في الموقع لاستعراض هذه البيانات.</p>

        <%= link_to 'تسجيل الدخول', new_user_session_path, class: 'button' %>
        <%= link_to 'تسجيل حساب جديد', new_user_registration_path, class: 'button' %>

        <% end %>


      <!-- Developer Review: End -->

      <a class="close-reveal-modal">&#215;</a>
    </div>

    |
    <!-- Social Media share -->
    <div class="social-share">

      <!-- Developer Review: Replace  request_url(r)  with link to request link -->
      <!-- Facebook share -->
      <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request_path(@request) %> "><li class="fa fa-facebook"></li></a>

      <!-- Twitter share -->
      <a href="https://twitter.com/intent/tweet?url=<%= request_path(@request) %>"><li class="fa fa-twitter"></li></a>

      <!-- G+ share -->
      <a href="https://plus.google.com/share?url=<%= request_path(@request) %>"><li class="fa fa-google-plus"></li></a>

    </div>
  </div>
</div>
</div>
