<!DOCTYPE html>
<html class="no-js" lang="ar" dir="rtl">
<head>
  <title>فصيلتي | <%= yield(:title) %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= javascript_include_tag "application", "vendor/modernizr" %>
    <%= stylesheet_link_tag "app", :media => "all" %>
    <%= stylesheet_link_tag "font-awesome", :media => "all" %>
    <%= csrf_meta_tags %>
</head>
<body>

  <!-- Navigation Bar -->
  <div class="total-nav">

    <!--  top part of Navigation bar (sign-in/up, profile, options, social media links) -->
    <div class=" up-bar">
          <div class="row">
            <div class="left">
            <ul>

              <!-- if user signed in: show (link to user Profile, settings dropdown(edit user, change availability), log out) -->
              <% if user_signed_in? %>

                <!-- User Profile -->
                <li><%= link_to 'الصفحة الشخصية', user_path(current_user) %></li>

                <!-- Settings Dropdown -->
                <li class="drpdwn"><a href="#" data-dropdown="drop1" class="dropdown">إعدادات الحساب &raquo;</a><br>
                  <ul id="drop1" data-dropdown-content class="f-dropdown">

                    <!-- User Availability -->
                    <li>

                      <!-- Developer review: if user is available -->
                      <% if !current_user.paused %>

                        <!-- Developer review: pause user's account -->
                        <%= link_to 'تجميد الحساب', pause_user_path(current_user), :method=>:post %>

                      <!-- Developer review: if user Not Available -->
                      <% else %>

                        <!-- Developer review: resume user's account -->
                        <%= link_to 'تفعيل الحساب', unpause_user_path(current_user), :method=>:post  %>
                      <% end %>
                    </li>
                    <!-- End of user availability -->

                    <!-- Edit user information -->
                    <li><%= link_to "تعديل البيانات", edit_user_registration_path(current_user) %></li>

                  </ul>
                </li>
                <!-- End of settings dropdown -->

                <!-- User log out -->
                <li><%= link_to "تسجيل الخروج", destroy_user_session_path, :method => :delete %></li>

              <!-- if user not signed in: show sign in, sign up -->
              <% else %>

                <!-- sign in popup link -->
                <li><a href="#" class="reveal-link" data-reveal-id="login">تسجيل الدخول</a></li>

                <!-- sign up popup link -->
                <li><a href="#" class="reveal-link" data-reveal-id="signup">تسجيل حساب جديد</a></li>

              <% end %>
              <!-- End of condition -->

              <!-- social media links -->

              <!-- Faselty Facebook Page -->
              <a href="https://www.facebook.com/FaseltyMe" ><i class="fa fa-facebook-square"></i></a>

              <!-- Faselty Twitter Account -->
              <a href="https://twitter.com/Faselty"><i class="fa fa-twitter-square"></i></a>

              <!-- Faselty G+ Account -->
              <a href="https://plus.google.com/u/3/108096126248367301464?cfem=1"><i class="fa fa-google-plus-square"></i></a>
              <!-- End of social media links -->

            </ul>
          </div>
        </div>
    </div>
    <!-- End of top part of Nav. bar -->

    <!-- Down part of nav. bar (logo, links to contents pages) -->
    <nav class="top-bar row" data-topbar data-options="is_hover: false">

      <!-- Top Navigation Bar Logo -->
      <ul class="logo title-area">
        <li><a href="./"><img src="<%=  image_path( "logo.png")%>" alt="Faselty Logo" /></a></li>
        <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <!--Top Navigation Menu -->
      <section class="top-bar-section">
        <ul class="left">

          <!-- Register Page -->


          <!-- Donation Info. Menu -->
          <li <% if current_page?(about_contents_path) -%> class="active" <% end %>> <%= link_to "عن فصيلتي", about_contents_path %></li>
          <li <% if current_page?(donation_info_contents_path) or current_page?(donor_info_contents_path) or current_page?(patient_info_contents_path) or current_page?(blood_info_contents_path) -%> class="active has-dropdown" <% else %> class="has-dropdown" <% end %> >
            <a href="#">التبرع</a>
            <ul class="dropdown">

              <!-- Donation Info. Page -->
              <li><%= link_to "عن التبرع", donation_info_contents_path %></li>

              <!-- Donator Info. Page -->
              <li><%= link_to "عن المتبرع", donor_info_contents_path %></li>

              <!-- Patient Info. Page -->
              <li><%= link_to "معلومات المريض", patient_info_contents_path %></li>

              <!-- Blood Info. Page -->
              <li><%= link_to "عن الدم", blood_info_contents_path %></li>
            </ul>
          </li>

          <!-- News And Activities Page -->
          <li <% if current_page?(news_contents_path) -%> class="active" <% end %> ><%= link_to "أخبار ودعاية", news_contents_path %></li>

          <!-- Contact Us Page -->
          <li <% if current_page?(contact_contents_path) -%> class="active" <% end %>><%= link_to "للتواصل", contact_contents_path %></li>
        </ul>
      </section>
      <!-- End of Navigation Menu -->
    </nav>
    <!-- End of Down part of Nav. Bar -->

  </div>
  <!-- End of Nav. Bar -->


  <!-- Sign-up popup -->
  <div id="signup" class="reveal-modal" data-reveal>
    <div class="row" style="text-align:center;">
      <div class="column small-6 small-centered">
        <h2>تسجيل حساب جديد</h2>

        <!-- new donor -->
        <%= link_to "متبرع جديد", new_user_registration_path, :class=>"button expand" %>

        <!-- new request -->
        <%= link_to "حالة تبرع جديدة", new_request_path, :class=> "button expand" %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- End of sign-up popup -->

  <!-- sign-in popup -->
  <div id="login" class="reveal-modal" data-reveal>
    <div class="row" style="text-align:center;">
      <div class="column small-6 centered">
        <h2> سجل الدخول</h2>

        <!-- login form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {"data-abide" => ''}) do |f| %>

          <div>
            <!-- user email -->
            <%= f.email_field :email, autofocus: true, :required=>"", :pattern=>"email", :placeholder=>"البريد الإلكتروني" %>

            <!-- Error message -->
            <small class="error">يرجى كتابة البريد الإلكتروني بشكل صحيح.</small>
          </div>

          <div>
              <!-- user password -->
              <%= f.password_field :password, autocomplete: "off", :placeholder=>"كلمة السر" %>
          </div>

          <!-- remeber me, forgotten password -->
          <% if devise_mapping.rememberable? -%>
            <div style="font-size:14px;"><%= f.check_box :remember_me %> <span style="color:#BA2830;">تذكرني</span> - <%= link_to "نسيت كلمة السر؟", new_password_path(resource_name) %></div>
          <% end -%>

          <!-- submit form -->
          <button type="submit" class=" column small-4 small-centered">ادخل</button>
        <% end %>
        <!-- End of login form -->
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <!-- End of sign-in Popup-->


  <!-- Main Content-->
  <div class="row content main_content">

    <!-- Page content -->

    <!-- Error Message -->
    <% flash.each do |name, msg| -%>
      <div data-alert class="alert-box" id="error_explanation" >

        <!-- Developer Review: Render message -->
        <%= content_tag :div, msg, class: name %>
        <a href="#" class="close">&times;</a>
      </div>
    <% end -%>


    <%= yield %>

    <!--End of page content-->
  </div>
  <!-- End of Main content -->


  <!-- Footer -->
  <div class="footer" style="width:100% !important;">

    <!-- Copyright Notice -->
      <p>كل الحقوق محفوظة لموقع فصيلتي © 2014</p>
  </div>
  <!-- End of Footer -->

<script type="text/javascript">
  $(document).foundation();
</script>
</body>
</html>
